@import "tailwindcss";
html,
body {
  overflow-x: hidden;
    font-size: clamp(14px, 1vw, 16px);

  /* font-family: "Morabba"; */
}
::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}
html[lang="fa"] {
  font-family: "Morabba";
  text-align: right;
}

html[lang="en"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;

}
@font-face {
  font-family: "Morabba";
  src: url("/fonts/Morabba/ttf/Morabba-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
